.full-screen-container {
    min-width: 100vw;
    min-height: 100vh;
  }
  
  /* Media query for mobile devices */
  @media only screen and (max-width: 767px) {
    .full-screen-container {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
    }
  }
  